.button {
  margin: 1rem 0 0 auto;
  display: block;
  width: 2rem;
  height: 2rem;
  background: #000;
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
  font-family: Roboto, sans-serif;
  border: none;
}
